html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.wrapper {
  width: 100%;
  height: auto;
  border: 30px solid groove;
  background-color: black;
  color: white;
  margin: auto;
}

.calc-button-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 0.5%;
  height: 17vh;
}

.screen {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 5vw;
  font-size: 10vw;
  height: 15vw;
}
.calc-button {
  background-color: #d8d9db;
  color: black;
  border: none;
  font-size: 40px;
  height: 100%;
  flex-basis: 24.5%;
}

.calc-button:hover {
  background-color: whitesmoke;
}

.double {
  flex-basis: 49.7%;
}
.triple {
  flex-basis: 74.8%;
}

.calc-button-row :last-child {
  background-color: rgb(135, 135, 151);
}
.calc-button-row :last-child:hover {
  background-color: whitesmoke;
}

@media screen and (min-width: 1200px) {
  body {
    background: grey;
    padding-top: 20px;
  }
  .wrapper {
    width: 50%;
    height: auto;
    border: 5px solid black;
  }
  .calc-button-row {
    height: 15vh;
  }
  .screen {
    padding-top: 3vw;
    font-size: 5vw;
    height: 10vw;
  }
}
